
<div class="col-lg-4 create-ingredient pull-right">
	<h1 class="h1-strong">{{title}}</h1>
	<div class="alert alert-success" *ngIf= "status == 'success'">
		Se creo ingrediente correctamente. 
	</div>
	<div class="alert alert-danger" *ngIf= "status == 'error'">
	No se pudo guardar ingrediente 
	</div>
	 <form #newIngredientForm = "ngForm" (ngSubmit) = "onSubmit(newIngredientForm,$event); sendIngredient($event);" class = "col-lg-12">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="ingredient.name" class="form-control" required />
			<span *ngIf ="!name.valid && name.touched"  >
				El nombre del ingrediente es obligatorio.
			</span>
		</p>
		<p>
			<label>Tipo de Unidad</label>
			<select  name="unit_type" #unit_type="ngModel" [(ngModel)]="ingredient.unit_type"  class="select" required>
			  <option value="KG">KG</option>
			  <option value="UNID">UNID</option>
			  
			</select>



			<span *ngIf ="!unit_type.valid && unit_type.touched"  >
				Este campo es obligatorio.
			</span>
		</p>
		<p>
			<label>Cantidad</label>
			<input type="number" name="quantity" #quantity="ngModel" [(ngModel)]="ingredient.quantity" class="form-control" required />
			<span *ngIf ="!quantity.valid && quantity.touched"  >
				Este campo es obligatorio.
			</span>
		</p>
		<p>
			<label>Precio de Costo</label>
			<input type="number" name="cost_price" #cost_price="ngModel" [(ngModel)]="ingredient.cost_price" class="form-control" required />
			<span *ngIf ="!cost_price.valid && cost_price.touched"  >
				Este campo es obligatorio.
			</span>
		</p>
		
		<input type="submit" name="" value="{{title}}" class="btn btn-success " [disabled] ="!newIngredientForm.form.valid" />


	</form>	
</div>